clarify that at most extensionRequest may be present

    >  * There MUST be /at most one/ attribute describing X.509 extensions,
    > i.e., one bearing the OID extensionRequest (1.2.840.113549.1.9.14) as
    > its type.

    > * The set in such an X.509 extension value MUST contain
    > exactly one element.

    > * The value of such an attribute MUST be of type
    > Extensions, i.e., a sequence of Extension.


This is meanwhile achieved in section 3.2 (clarifying the legacy approach):

> The OID to use for such attributes in the 'type' field MUST be id-
   ExtensionReq, which has the value 1.2.840.113549.1.9.14.  Note that
   is the same as pkcs-9-at-extensionRequest defined in PKCS#9
   [RFC2985].  There MUST be only one such attribute.

>   The values field of this attribute MUST contain a set with exactly
   one element, and this element MUST be of type Extensions, as per
   Section 4.1 of [RFC5280]

but not yet in section 3.3 (introducing the new template approach).
